body {
    display: flex;
    flex-flow: row;
    flex: 1;
    height: 95vh;
}
/* Left Menu */
.l_menu {
    display: flex;
    flex-flow: column;
    flex: 1;
}
.l_menu > a {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    border: 1px rgba(10,10,10, 0.2) solid;
    border-radius: 5px;
    margin: 1px;
    color: rgba(10,10,10, 0.8);
    text-decoration: none; /* no underline */
}
.select_btn {
    background: rgba(240, 240, 240, 0.5);
}
.select_btn:hover {
    background: rgba(180, 180, 180, 0.5);
    cursor: pointer;
    color: #55505C;
}
/* Middle Content box */
.m_content {
    display: flex;
    flex-flow: column;
    flex: 9;
    border: 1px rgba(0,0,0, 0.2) solid;
    margin-left: 1px;
}
.content_title {
    display: flex;
    height: 4vh;
    justify-content: center;
    align-items: center;
}
.cont_piece {
    display: flex;
    height: 4vh;
    justify-content: center;
    align-items: center;
    border: 1px rgba(10,10,10, 0.2) solid;
    margin: 3px;
    padding: 5px;
    background: #F5F4F6;
}
.cont_name {
    display: flex;
    flex: 6;
    justify-content: center;
    align-items: center;
}
.action_btns {
    display: flex;
    flex: 4;
    justify-content: center;
    align-items: center;
    background: #F3F5F6;
}
.action_btns > div, a {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    border: 1px rgba(10,10,10, 0.2) solid;
    margin: 3px;
    padding: 5px;
    color: rgba(10,10,10, 0.8);
    text-decoration: none; /* no underline */
}
.action_btns > div:hover, a:hover {
    background: #FAF33E;
    cursor: pointer;
}
* {
    font-family: sans-serif;
}

