<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Artist View</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/basic_style.css' %}" />
</head>
<body>
<div class="l_menu">
    {% for each in l_menu %}
        {% if menu_cont == 'artist' %}
            <a class="select_btn" href="{% url 'artist' pk=each.pk %}">{{ each.get_name }}</a>
        {% elif menu_cont == 'album' %}
            <a class="select_btn" href="{% url 'album' pk=each.pk %}">{{ each.get_name }}</a>
        {% else %}
            <a class="select_btn" href="">{{ each }}</a>
        {% endif %}
    {% endfor %}
</div>
<div class="m_content">
    <h4 class="content_title">{{ title }}</h4>
    {% for each in content %}
        <div class="cont_piece">
            <div class="cont_name">{{ each }}</div>
            <div class="action_btns">
                <div>View</div>
                <div>Add</div>
                <div>Remove</div>
            </div>
        </div>
    {% endfor %}
</div>
</body>
</html>